footer {
    background-color: grey;
    height: 300px;
}
.circles {
    width: 100%;
}
.image-container {
    display: flex; /* Align images side by side */
    gap: 10px; /* Add spacing between images */
    justify-content: center; /* Center images horizontally */
}

.image-container img {
    width: 200px; /* Set image size */
    height: 200px;
    border-radius: 50%; /* Make images circular */
    object-fit: cover; /* Ensure images cover the circle */
    border: 20px solid #000; /* Optional: Add border */
    margin: 30px 30px;
}
